@page
@model GameCollection.Pages.Sarah.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/Sarah.css" asp-append-version="true" />
<h1>Details</h1>

<div>
    <hr />
    <dl>
        <div class="row pb-2">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Games.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Games.Title)
            </dd>
        </div>
        <div class="row pb-2">
            <dt class="col-sm-2">
                Genre
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Games.GenreType)
            </dd>
        </div>
        <div class="row pb-2">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Games.Developer)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Games.Developer)
            </dd>
        </div>
        <div class="row pb-2">
            <dt class="col-sm-2">
                Release Date
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Games.ReleaseDate)
            </dd>
        </div>
        <div class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Games.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Games.Price)
            </dd>
        </div>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.Games?.ID">Edit</a>
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>
